<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Uno Kim">
    <title>게시판 페이지</title>
</head>

<body>
<!--    헤더 시멘틱-->
<!--    메인 페이지 - 테이블-->
<!--    푸터-->
    <header>
<!--        header 삽입부-->
        <hr>
    </header>

    <main>
<!--        검색창-->
        <form action="">
<!--         필터: 제목, 본문, id, 닉네임, 해시태그-->
            <label hidden for="search-type">유형</label>
            <select id="search-type" name="search-type">
                <option>제목</option>
                <option>본문</option>
                <option>ID</option>
                <option>닉네임</option>
                <option>해시태그</option>
            </select>
            <label hidden for="search-value">검색어</label>
            <input id="search-value" type="search" placeholder="검색어..." name="search-value">
            <button type="submit">검색</button>
        </form>
<!--        테이블-->
        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>해시태그</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>첫 글</td>
                    <td>#java</td>
                    <td>나</td>
                    <td>2023-08-18</td>
                </tr>
                <tr>
                    <td>두번째 글</td>
                    <td>#java</td>
                    <td>나</td>
                    <td>2023-08-18</td>
                </tr>
                <tr>
                    <td>세번째 글</td>
                    <td>#java</td>
                    <td>나</td>
                    <td>2023-08-18</td>
                </tr>
            </tbody>
        </table>
<!--        네이게이션 바-->
        <nav>
            <table>
                <tr>
                    <td>previous</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>next</td>
                </tr>
            </table>
        </nav>

    </main>


    <footer>
        <hr>
        footer 삽입부
    </footer>



<!-- TODO: 루트 패쓰는 게시판으로 redirect 되므로, 이 페이지는 이제 쓰이지 않는다. 나중에 삭제 검토. -->
</body>
</html>